*/__pycache__
*.log
*.pyc
*.db
*.DS_Store
*.idea
*.csv
*.csv.gz
tmp_log.txt
*/*.env
.vscode/
gapi_keyfile.json
gcp_credentials.json
.pytest_cache
.meltano/
.mypy*
*.egg-info
config.json
.ipynb_checkpoints/*
.env
*.pid
airflow.cfg
standalone_admin_password.txt
/logs/
src/gcc_social/logs
src/gcc_social/dbt_packages
src/gcc_social/target
webserver_config.py